body{
	background-color:#00FFFF;
	font-size:18px;
}

#header{
	font-family:"Arial";
	font-size:25px;
	text-align:center;
}
	

#info{
	font-family:"Arial";
	font-size:18px;
	}
#Header{
	font-family:"Arial";
	font-size:25px;
	text-align:center;
}
h4{
	font-style: Italic;
}

